* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Kanit', sans-serif;
}

:root {
    --mainbody: linear-gradient(rgb(0, 0, 0), rgb(43, 43, 43));
    --textbody: white;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--mainbody);
    color: var(--textbody);
}

section {
    min-height: 100vh;
    padding: 11rem 10% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header img {
    width: 150px;
    position: relative;
    top: 0px;
    left: -20px;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--textbody);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover {
    display: inline-block;
    padding: 0 .6rem;
    border-radius: 5px;
    color: rgb(180, 180, 180);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--textbody);
    display: none;
}

.home {
    display: flex;
    justify-content: left;
    align-items: center;
}

.homecontent h3 {
    text-align: left;
    font-size: 2.2rem;
    font-weight: 500;
}

.homecontent h3:nth-of-type(2) {
    margin-bottom: 1rem;
}

span {
    color: var(--textbody)
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.homecontent h1 {
    text-align: left;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.homecontent p {
    text-align: left;
    margin-top: 0;
    font-size: 1.6rem;
}

.btn {
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    border: 1px solid white;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--textbody);
    letter-spacing: .1rem;
    font-weight: 600;
}

.btn:hover {
    background: rgb(43, 43, 43);
    border: 1px solid white;
    transition: 1s;
    border: none;
}

.aboutus {

    background: linear-gradient(rgba(31, 31, 31, 0.63), rgba(39, 39, 39, 0.658)), url(images/aboutbg.jpg);
    padding: 10px 0 10px 0;
}

.aboutus-more {
    text-align: center;
    margin: 0px auto;
    font-size: 4rem;
    margin-top: 2rem;
}

.aboutus p {
    text-align: center;
    margin: 0px auto;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

/* contact form designing */
.contact h2 {
    margin-bottom: 3rem;
}

.contact p {
    text-align: center;
    justify-content: center;
    font-size: 18px;

}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* footer design */
.container {
    max-width: 1170px;
    margin: auto;
}

.rowfoot {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background: linear-gradient(rgb(34, 34, 34), rgb(7, 7, 7));
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #444444;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.foot-bottom p {
    margin-top: 7%;
    bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 15px;

}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}



/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/* media query */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 15rem 3% 2rem;
    }

    .projects {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: rgba(22, 22, 22, 0.979);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        display: none;
        transition: all .5 ease;

    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .projects h2 {
        margin-bottom: 3rem;
    }

    .project-content {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 617px) {
    .project-content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .extra-box img {
        justify-content: center;
        align-items: center;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}


/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(31, 31, 31), rgb(65, 65, 65));
    border-radius: 10px;
}